.chatonlinefriend{
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}

.chatonlineimgcontainer{
    position: relative;
    margin-right: 10px;
}

.chatonlineimg{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    border:1px solid white;


}

.chatonlinebadge{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top:2px;
    right:2px;

}